name: Doxygen Deploy Action
on:
  # mainから呼び出す
  workflow_call:
    inputs:
      doxyfile_path:
        required: true
        type: string
      project_version:
        required: true
        type: string
    secrets:
      token:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-22.04
    # 二重実行を防ぐ
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true  # Fetch doxygen-awesome-css themes (true OR recursive)

      - uses: devcontainers/ci@v0.3
        with:
          cacheFrom: ghcr.io/teruyamato0731/chassis-devcontainer
          push: never
          skipContainerUserIdUpdate: true
          runCmd: scripts/deploy.bash
          env: |
            PROJECT_VERSION=${{ inputs.project_version }}

      - name : Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.token }}
          publish_dir: ./docs/html
