name: Unit Test
on:
  # mainから呼び出す
  workflow_call:
  # 手動実行を許可する
  workflow_dispatch:

jobs:
  UnitTest:
    runs-on: ubuntu-20.04
    # 二重実行を防ぐ
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true  # Fetch GoogleTest (true OR recursive)

      - name: Build and Test
        run: bash ./.github/scripts/ctest.bash

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3
        with:
          report_paths: 'build/report.xml'

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          gcov: true
          gcov_include: src
          verbose: true
